<div>
  <table>
    <tbody>
    <tr>
      <th><a href="/index.php?controller=recipe">Nom</a></th>
      <th><a href="/index.php?controller=recipe&sort=time">Temps</a></th>
      <th>Action</th>
    </tr>

    <!-- BEGIN recipe -->
    <tr>
      <td>{recipe.name}</td>
      <td>{recipe.time}</td>
      <td>
        <a class="btn"
           href="/index.php?controller=recipe&action=edit&id={recipe.id}">Edit</a>
        <form action="/index.php?controller=recipe&action=delete"
              method="post">
          <input type="hidden" name="id" value="{recipe.id}">
          <button type="submit" class="btn">Delete</button>
        </form>
      </td>
    </tr>
    <!-- END recipe -->

    </tbody>
  </table>
</div>