<div>
  <table>
    <tbody>
    <tr>
      <th><a href="/index.php?controller=recipe">Nom</a></th>
      <th><a href="/index.php?controller=recipe&sort=time">Temps</a></th>
      <th><a href="index.php?controller=recipe&sort=ingredients">Ingrédients</a></th>
      <th>Action</th>
    </tr>

    <!-- BEGIN recipe -->
    <tr>
      <td>{recipe.name}</td>
      <td>{recipe.time}</td>
      <td>{recipe.ingredients}</td>
      <td></td>
    </tr>
    <!-- END recipe -->

    </tbody>
  </table>
</div>