<div>
  <form action="/index.php?controller=recipe&action=save"
        method="post">
    <input type="hidden" name="id" value="{id}">
    <label for="">Nom</label>
    <input type="text"
           name="name"
           value="{name}"/>
    <label for="">Temps</label>
    <input type="number"
           name="time"
           value="{time}"
    />
    <label for="">Ingrédients</label>
    <select name="ingredients">
      <option value="{selectedValue}" selected>{selectedName}</option>
      <!-- BEGIN ingredients -->
      <option value="{ingredients.value}">{ingredients.name}</option>
      <!-- END ingredients -->
    </select>

    <button type="submit" name="submit">Sauvegarder</button>
  </form>
</div>