<!-- Contenu du site -->
<div class="s-content content">
  <main class="row content__page">
    <section class="column large-full entry format-standard">
      <div class="media-wrap">
        <div>
          <center>
            <img src="/images/about/apropos.jpg" srcset="/images/about/apropos-2000.jpg 2000w,
                                      /images/about/apropos-1000.jpg 1000w,
                                      /images/about/apropos-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
          </center>
        </div>
      </div>
      <!-- On crée un titre -->
      <div class="content__page-header">
        <h1 class="display-1">
          Bienvenue à Trésor Naturel.
        </h1>
      </div>
      <!-- Paragraphe avec première lettre différente -->
      <p class="lead drop-cap" >
        Créée depuis 1980, Trésor Naturel est une boutique responsable proposant des articles luxueux.
        Ses créateurs, engagés depuis toujours pour l'environnement reversent systématiquement 1% de leurs bénéfices à des associations.
      </p>
      <p>
        Les produits que nous vous proposons sont 100% naturels et fabriqués en France par nos soins, vous garantissant une qualité d'exception.
      </p>
      <h2>Notre histoire</h2>
      <p>
        Créée en 1980 par Monsieur et Madame Bernard, notre boutique a rapidement eu bonne presse dans la région parisienne, ayant eu la chance
        d'apparaître dans un journal télévisé mondialement connu dès ses débuts. Grâce à cette visibilité première puis à la satisfaction des
        clients qui revinrent toujours plus nombreux, notre boutique n'a cessé d'évoluer.
      </p>
      <p>
        Aujourd'hui, via notre site web, nous pouvons proposer nos produits à un grand nombre de clients et faire connaître dans le monde entier
        la richesse de nos produits manufacturés en France, avec des ingrédients de toujours meilleure qualité. Nous avons à coeur de transmettre et
        proposer ce savoir-faire français au plus grand nombre.
      </p>
      <hr>
      <!-- On dessine l'équivalent de deux colonnes pour présenter le site différemment -->
      <div class="row block-large-1-2 block-tab-full">
        <div class="column">
          <h4>Qui nous sommes.</h4>
          <p>
            Une entreprise d'une quarantaine d'année qui propose des produits 100% naturels et fabriqués en France dans le monde entier. Gérée par une vingtaine de personne, cette entreprise à taille humaine dessert pourtant 20 pays dans le monde et a pour ambition d'étendre encore son champ d'action.
          </p>
        </div>
        <div class="column">
          <h4>Notre mission.</h4>
          <p>
            Produire des articles de qualité, 100% naturels et fabriqués en France avec des matières premières de qualité. Nous essayons de rester au plus proches des ingrédients que nous travaillons, afin de ne pas dénaturer les actifs naturellement présents dans les plantes.
          </p>
        </div>
        <div class="column">
          <h4>Notre vision.</h4>
          <p>
            Rémunérer nos partenaires de façon équitable, préserver l'environnement (nous limitons nos emballages au maximum dans l'envoi de vos colis et privilégions les transports verts), prendre soin de vous en vous proposant les meilleurs actifs disponibles, naturels et efficaces.
          </p>
        </div>
        <div class="column">
          <h4>Les valeurs de l'entreprise.</h4>
          <p>
            Notre entreprise a toujours eu à coeur de satisfaire ses clients au mieux. Notre service client est disponible du lundi au vendredi, de 8h à 12h puis de 14h à 18h et tâche de vous répondre au mieux. Par ailleurs, nous reversons systématiquement 1% de nos bénéfices à des associations.
          </p>
        </div>
      </div>
    </section>
  </main>
</div>