<!-- Contenu du site -->
<div class="s-content content">
  <main class="row content__page">
    <section class="column large-full entry format-standard">
      <div class="media-wrap">
        <div>
          <center>
            <img src="/images/thumbs/contact/contact-1000.jpg" srcset="/images/thumbs/contact/contact-2000.jpg 2000w, 
                                      /images/thumbs/contact/contact-1000.jpg 1000w, 
                                      /images/thumbs/contact/contact-500.jpg 500w"
                 sizes="(max-width: 2000px) 100vw, 2000px" alt="">
          </center>
        </div>
      </div>
      <div class="content__page-header">
        <h1 class="display-1">
          Restons en contact.
        </h1>
      </div>
      <p class="lead drop-cap">
        Depuis toujours, nous avons eu à coeur de toujours satisfaire nos clients.
        Pour une réclamation ou pour nous exprimer votre satisfaction, vous pouvez
        nous joindre via ces différents biais.
      </p>
      <p>
        Notre service client est ouvert de 8h à 12h puis de 14h à 18h du lundi au vendredi
        toute l'année.
      </p>
      <div class="row">
        <div class="column large-six tab-full">
          <h4>Où nous trouver</h4>
          <p>
            160 Avenue des Champs Elysées<br>
            75008 France
          </p>
        </div>
        <div class="column large-six tab-full">
          <h4>Informations de contact</h4>
          <p>contact@tresornaturel.com<br>
            serviceclient@tresornaturel.com <br>
            Téléphone: +331 77 89 20 30
          </p>
        </div>
      </div>
      <h3 class="h2">Faîtes-nous signe</h3>
      <!-- Formulaire de contact -->
      <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
        <fieldset>
          <div class="form-field">
            <input name="cName" id="cName" class="full-width" placeholder="Votre nom" value="" type="text">
          </div>
          <div class="form-field">
            <input name="cEmail" id="cEmail" class="full-width" placeholder="Votre email" value="" type="text">
          </div>
          <div class="form-field">
            <input name="cWebsite" id="cWebsite" class="full-width" placeholder="Site internet" value="" type="text">
          </div>
          <div class="message form-field">
            <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Votre message"></textarea>
          </div>
          <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Envoyer"
                 type="submit">
        </fieldset>
      </form>
    </section>
  </main>
</div>