  <!-- Footer (pied de page) -->
  <footer class="s-footer">
    <div class="row">
      <div class="column large-full footer__content">
        <div class="footer__copyright">
          <span>© Copyright Cécile Barlet x Ksenia Bezuhla x Marie Vachet</span>
        </div>
      </div>
    </div>

    <div class="go-top">
      <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>
  </footer>
</div>

<!-- Java Script -->
<script src="/views/js/jquery-3.2.1.min.js"></script>
<script src="/views/js/plugins.js"></script>
<script src="/views/js/main.js"></script>

</body>
</html>