<!-- Contenu du home page -->
<div class="s-content">
  <div class="masonry-wrap">
    <div class="masonry">
      <div class="grid-sizer"></div>
      <!-- J'ai décidé d'afficher quelques produits et les propriétés qui leur sont associées, mais celà ne dépend pas d'une base de données -->
      <article class="masonry__brick entry format-standard animate-this">
        <!-- J'affiche une image -->
        <div class="entry__thumb">
          <img src="/images/thumbs/articles/heaneth-1200.jpg"
               srcset="/images/thumbs/articles/heaneth-1200.jpg 1x, /images/thumbs/articles/heaneth-1200.jpg 2x" alt="">
        </div>
        <!-- J'affiche le texte correspondant -->
        <div class="entry__text">
          <div class="entry__header">
            <h2 class="entry__title">
              <center>Huile essentielle d'Aneth</center>
            </h2>
          </div>
          <div class="entry__excerpt">
            <p>
            <center>
              L'huile essentielle d'aneth, comme d'autres huiles extraites des Apiacées, a la capacité de stimuler
              physiologiquement
              les sécrétions enzymatiques des glandes salivaires, les sécrétions gastriques, pancréatiques, intestinales
              ainsi que
              l’excrétion biliaire, ce qui se traduit par un effet stimulant sur la digestion. Cet effet est dû à
              l'amertume de l'aneth et sa richesse en monoterpènes.
              Comme les huiles essentielles d'angélique et d'anis, l'huile essentielle d'aneth a une importante activité
              antispasmodique.
              Cette propriété s'explique par l’inhibition de l’entrée du calcium dans les cellules ce qui empêche la
              contraction de ces organes.
            </center>
            </p>
          </div>
        </div>
      </article>
      <article class="masonry__brick entry format-quote animate-this">
        <div class="entry__thumb">
          <blockquote>
            <p>Mens sana in corpore sano</p>
            <cite>Satire de Juvénal</cite>
          </blockquote>
        </div>
      </article>
      <article class="masonry__brick entry format-standard animate-this">
        <div class="entry__thumb">
          <img src="/images/thumbs/articles/hesauge-1200.jpg"
               srcset="/images/thumbs/articles/hesauge-1200.jpg 1x, /images/thumbs/articles/hesauge-1200.jpg 2x" alt="">
        </div>
        <div class="entry__text">
          <div class="entry__header">
            <h2 class="entry__title">
              <center>Huile essentielle de Sauge Sclarée</center>
            </h2>
          </div>
          <div class="entry__excerpt">
            <p>
            <center>
              L’huile de sauge sclarée présente une activité "œstrogène-like", c’est-à-dire que certains de ses
              composants
              (en l’occurrence ici le sclaréol) miment l’action des oestrogènes, ces hormones naturelles qu’on dit
              "féminisantes".
              Ces dernières régulent le cycle menstruel mais modulent également la composition de la glaire cervicale
              qui rend plus ou
              moins perméable l’accès des spermatozoïdes jusqu’à l’ovule.Sa composition riche en linalol lui confère des
              propriétés relaxantes
              et antispasmodiques, c’est-à-dire capable de lutter contre les spasmes musculaires, ces contractions
              musculaires brutales et involontaires intervenant notamment
              dans le hoquet et la toux.
            </center>
            </p>
          </div>
        </div>
      </article>
      <article class="masonry__brick entry format-standard animate-this">
        <div class="entry__thumb">
          <img src="/images/thumbs/articles/herose-1200.jpg"
               srcset="/images/thumbs/articles/herose-1200.jpg 1x, /images/thumbs/articles/herose-1200.jpg 2x" alt="">
        </div>
        <div class="entry__text">
          <div class="entry__header">
            <h2 class="entry__title">
              <center>Huile essentielle de Rose</center>
            </h2>
          </div>
          <div class="entry__excerpt">
            <p>
              L’huile essentielle de rose, de par sa composition en alcools monoterpéniques (nérol, citronnellol et
              géraniol),
              est capable d’hydrater et de régénérer des peaux sèches ou desquamées, de resserrer et d’assécher les
              tissus,
              ce qui peut faciliter leur cicatrisation. Elle contribue également à arrêter l’écoulement du sang
              (hémostatique).
              Ces mêmes alcools monoterpéniques, couplés aux carbures, lui confèrent une activité bactéricide,
              antivirale et
              fongicide remarquable, tout en modulant la réponse immunitaire.Ses capacités antalgiques et calmantes
              proviennent
              surtout de la richesse de l’huile en citronellol, qui potentialise l’activité du GABA-A, un canal activé
              par la
              fixation de l'acide gamma-aminobutyrique (neurotransmetteur inhibiteur du cerveau) et celle des
              benzodiazépines.
              L’huile de rose contient également de l’acétate de géranyle, un sédatif par inhalation.Les composés
              contenus
              dans l’huile de rose, en particulier ceux qui sont responsables de son odeur, agiraient au niveau de
              l’hypothalamus, produisant un effet stimulant général, neurotonique et légèrement aphrodisiaque.
            </p>
          </div>
        </div>
      </article> <!-- end article -->
      <article class="masonry__brick entry format-standard animate-this">
        <div class="entry__thumb">
          <img src="/images/thumbs/articles/hebasilic-1200.jpg"
               srcset="/images/thumbs/articles/hebasilic-1200.jpg 1x, /images/thumbs/articles/hebasilic-1200.jpg 2x"
               alt="">
        </div>
        <div class="entry__text">
          <div class="entry__header">
            <h2 class="entry__title">
              <center>Huile essentielle de Basilic</center>
            </h2>
          </div>
          <div class="entry__excerpt">
            <p>
            <center>
              Le principal antioxydant retrouvé dans l’huile essentielle de basilic dérive de l’acide rosmarinique.
              On retrouve aussi des acides phénoliques et des flavonoïdes qui possèdent des propriétés antioxydantes.
              Sa richesse en méthylchavicol fait de l’huile essentielle de Basilic un traitement de choix contre
              les troubles spasmodiques (ballonnements, aérophagie, nausées, spasmes digestifs).Comme d’autres huiles,
              l’huile essentielle de Basilic diminue les douleurs grâce à sa concentration en linalol, une molécule
              responsable de la touche florale et fraîche de son parfum.Sa concentration en méthylchavicol et en linalol
              aide au renforcement du système immunitaire, contribue à détruire les mauvaises bactéries et présente une
              activité antagoniste à celle des vers intestinaux.Grâce à sa richesse en cinéol, elle est capable
              d’augmenter
              l'expulsion du mucus de la trachée ou des bronches par de l'expectoration ou de la toux. Via le linalol,
              l’huile essentielle a une action anti-inflammatoire.Les constituants methylcinnamate, methylchavicol,
              ocimène, cinéole et linalol présentent une activité insecticide reconnue.
            </center>
            </p>
          </div>
        </div>
      </article>
      <article class="masonry__brick entry format-standard animate-this">
        <div class="entry__thumb">
          <img src="/images/thumbs/articles/heangelic-1200.jpg"
               srcset="/images/thumbs/articles/heangelic-1200.jpg 1x, /images/thumbs/articles/heangelique-1200.jpg 2x"
               alt="">
        </div>
        <div class="entry__text">
          <div class="entry__header">
            <h2 class="entry__title">
              <center>Huile essentielle d'Angélique</center>
            </h2>
          </div>
          <div class="entry__excerpt">
            <p>
            <center>
              L'huile essentielle d'angélique, comme d'autres huiles extraites des Apiacées, a la capacité de stimuler
              physiologiquement les sécrétions enzymatiques des glandes salivaires, les sécrétions gastriques,
              pancréatiques,
              intestinales ainsi que l’excrétion biliaire, ce qui se traduit par un effet stimulant sur la digestion.
              Cet effet est dû à l'amertume de l'angélique et sa richesse en monoterpènes.Les constituants de
              l’huile essentielle d’angélique stimule les mécanorécepteurs et chimiorécepteurs de la muqueuse gastrique
              ce qui va contribuer à la mobilité gastrique et activer les cellules G productrices de gastrine
              responsable
              de la contraction de l’estomac. Comme les huiles essentielles d'aneth et d'anis, l'huile essentielle
              d'angélique
              a une importante activité antispasmodique. Cette propriété s'explique par l’inhibition de l’entrée du
              calcium
              dans les cellules, ce qui empêche la contraction des muscles lisses.L'activité antioxydante de l’huile
              essentielle
              d’angélique est attribuée en partie à ses composés xanthotoxin et imperatorin.Les composés aromatiques de
              l'huile
              essentielle d'angélique ont la capacité de favoriser l’expulsion des gaz intestinaux. Les coumarines
              présents dans
              l’huile essentielle d’angélique participent à l’inhibition de l’agrégation des plaquettes sanguines. C'est
              un
              excellent fluidifiant sanguin.
            </center>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>