<!-- Contenu du site -->
<div class="s-content content">
  <main class="row content__page">
    <section class="column large-full entry format-standard">
      <div class="media-wrap">
        <div>
          <center>
            <img src="/images/tumbs/articles/tous.jpg" srcset="/images/thumbs/articles/tous-1200.jpg 2000w,
                                      /images/thumbs/articles/tous-1200.jpg 1200w, 
                                      /images/thumbs/articles/tous-600.jpg 600w"
                 sizes="(max-width: 2000px) 100vw, 2000px" alt="">
          </center>
        </div>
      </div>
      <div class="content__page-header">
        <h1 class="display-1">
          Liste de tous les articles
        </h1>
      </div>
      <p>
        {product_table}
        {product_edit}
        {product_add}
      </p>
    </section>
  </main>
</div>

