<!-- Contenu du site -->
<div class="s-content content">
  <main class="row content__page">
    <section class="column large-full entry format-standard">
      <div class="media-wrap">
        <div>
          <center>
            <img src="/images/tumbs/connexion/connexion.jpg" srcset="/images/thumbs/connexion/connexion-1200.jpg 2000w, 
                                      /images/thumbs/connexion/connexion-1200.jpg 1200w, 
                                      /images/thumbs/connexion/connexion-600.jpg 600w"
                 sizes="(max-width: 2000px) 100vw, 2000px" alt="">
          </center>
        </div>
      </div>
      <div class="content__page-header">
        <h1 class="display-1">
          Mes informations
        </h1>
      </div>
      <p class="lead drop-cap">
        <br><br>
        {user_form}
        {user_not_logged}
        {user_error}
        {user_passwords}
        {user_success}
      </p>
    </section>
  </main>
</div>